<% include ../includes/start.ejs %>
<a class="image question" href="<%= question.question %>" target="_blank" style="background-image: url('<%= question.question %>')"></a>
<a class="image answer" href="<%= question.answer %>" target="_blank" style="background-image: url('<%= question.answer %>')"></a>
<div class="header">
  <div class="name"><%= question.description %></div>
  <div class="subject"><%= question.subject %></div>
  <div class="clear"></div>
</div>
<div class="bottom">
  <div class="source">
    <a target="_blank" href="/chat/<%= question.user %>">Chat Room</a>
  </div>
  <div class="claimed"><%= question.state %>: <%= question.tutor %></div>
  <div class="clear"></div>
</div>
<% include ../includes/end.ejs %>
