<% include ../includes/start.ejs %>
<a class="image" href="<%= question.image %>" target="_blank" style="background-image: url('<%= question.image %>')"></a>
<div class="header">
  <div class="name"><%= question.description %></div>
  <div class="subject"><%= question.subject %></div>
  <div class="clear"></div>
</div>
<div class="bottom">
  <div class="source">
    <a target="_blank" href="/chat/<%= question.user %>">Open Chat</a>
  </div>
  <div class="actions">
    <button class="good button">
      <span>ANSWER (<%= question.paid %>)</span>
      <input id="fileUpload" type="file"/>
    </button>
    <a class="flag button" href="#">FLAG</a>
    <a class="bad button" href="/questions/<%= question.id %>/unclaim">UNCLAIM</a>
  </div>
  <div class="clear"></div>
</div>
<div class="flagModal">
  <div class="background"></div>
  <div class="modal">
    <div class="title">Flag For Which Reason</div>
    <div class="buttons">
      <a class="button bad blurry" href="/questions/<%= question.id %>/flag/7">Blurry/Unreadable</a>
      <a class="button bad many" href="/questions/<%= question.id %>/flag/8">Too Many Questions</a>
      <br>
      <a class="button chat" href="/chat/<%= question.user %>">Ask User</a>
      <a class="button delete" href="/questions/<%= question.id %>/delete">Not Math Question</a>
    </div>
  </div>
</div>
<% include ../includes/end.ejs %>
