<% include ../includes/start.ejs %>
<a class="image" href="<%= question.image %>" target="_blank" style="background-image: url('<%= question.image %>')"></a>
<div class="header">
  <div class="name"><%= question.description %></div>
  <div class="subject"><%= question.subject %></div>
  <div class="clear"></div>
</div>
<div class="bottom">
  <div class="source">Creator: <%= question.source %></div>
  <div class="actions">
    <button class="good button">
      <span>ANSWER (<%= question.paid %>)</span>
      <input id="fileUpload" type="file"/>
    </button>
    <a class="bad button" href="/questions/<%= question.id %>/unclaim">UNCLAIM</a>
    <a class="delete button" href="/questions/<%= question.id %>/delete">DELETE</a>
  </div>
  <div class="clear"></div>
</div>
<% include ../includes/end.ejs %>
