<%
title = "Night Owl"
titleOG = null
visible = true
description = [
	"Math problems? We’re here to help. ",
  "Snap a photo of your homework questions ",
  "and we’ll solve it for you. Get the steps ",
  "and the answer right from your phone. ",
  "Download Night Owl and say goodbye to all-nighters."
].join("")

if(template == "home/index") {
	title = "Night Owl - Math Problems?"

	if(promo) {
  	titleOG = "Promo Code: " + promo.get("code")

  	description = [
    	"Math problems? We’re here to help. ",
      "Use promo ", promo.get("code"), " to get free answers ",
      "with steps! Download Night Owl and say goodbye ",
      "to all-nighters."
    ].join("")
	}
} else if(template == "auth/register") {
  title = "Tutor Registration"
} else if(template == "auth/login") {
  title = "Tutor Login"
} else if(template == "auth/welcome") {
  title = "Welcome to Night Owl"
} else if(template == "questions/index") {
  title = "Questions Queue"
} else if(template == "user/card") {
  title = "Add Credit Card"
} else if(template == "chat/index") {
  title = "Chat Room"
} else if(template == "stats/index") {
  title = "Stats"
}

titleOG = titleOG || title
%>

<!-- Base Meta Tags -->
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset="utf-8">

<!-- iOS App Tags -->
<meta name="apple-itunes-app" content="app-id=<%= itunesApp %>">
<meta property="al:ios:url" content="nightowl://open" />
<meta property="al:ios:app_store_id" content="<%= itunesApp %>" />
<meta property="al:ios:app_name" content="Night Owl" />

<!-- Favicon ICO -->
<link rel="shortcut icon" href="<%= host %>/images/favicon.png?r=<%= random %>" />
<link rel="icon" type="image/png" href="<%= host %>/images/logo.png?r=<%= random %>" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= host %>/images/logo.png?r=<%= random %>">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= host %>/images/logo.png?r=<%= random %>">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= host %>/images/logo.png?r=<%= random %>">

<% if(visible) { %>
	<!-- Open Graph Meta Tags -->
	<meta property="og:locale" content="en_us">
	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= url %>">
	<meta property="og:image" content="<%= host %>/images/graph.png">
	<meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
	<meta property="og:title" content="<%= titleOG %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:site_name" content="Night Owl"/>
	<meta property="fb:app_id" content="838388612942433" />
	<meta property="fb:profile_id" content="841776125916224" />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="<%= titleOG %>">
	<meta itemprop="description" content="<%= description %>">
	<meta itemprop="image" content="<%= host %>/images/graph.png">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@heynightowlapp">
	<meta name="twitter:creator" content="@heynightowlapp">
	<meta name="twitter:domain" content="<%= host %>">
	<meta name="twitter:title" content="<%= titleOG %>">
	<meta name="twitter:description" content="<%= description %>">
	<meta name="twitter:image" content="<%= host %>/images/graph.png">
  <meta name="twitter:image:width" content="1200" />
  <meta name="twitter:image:height" content="630" />
  <meta name="twitter:app:name:iphone" content="Night Owl" />
  <meta name="twitter:app:id:iphone" content="<%= itunesApp %>" />
  <meta name="twitter:app:url:iphone" content="nightowl://open" />

	<!-- Robot Meta Tags -->
	<meta name="robots" content="INDEX, FOLLOW">
	<meta name="revisit-after" content="1 day">
	<meta name="distribution" content="web">
<% } else { %>

	<!-- Robot Meta Tags -->
	<meta name="robots" content="NOINDEX, NOFOLLOW, NOARCHIVE">
<% } %>
